@for $i from 1 through 20 {
  $size: 10px * $i;

  .cue_margin_left_#{$i} {
    .vjs-text-track-display {
      left: $size;
    }

    video {
      padding-left: $size;
      box-sizing: border-box;
      object-fit: cover;
    }
  }

  .cue_margin_right_#{$i} {
    .vjs-text-track-display {
      right: $size;
    }

    video {
      padding-right: $size;
      box-sizing: border-box;
      object-fit: cover;
    }
  }
}
