<h2><%= I18n.t('pageflow.editor.templates.edit_entry.outline') %></h2>
<ul class="storyline_outline_chapters chapters outline navigatable"></ul>

<a class="add_chapter" href=""><%= I18n.t('pageflow.editor.templates.edit_entry.new_chapter') %></a>
