<span class="file_name"></span>
<table>
  <thead>
    <tr>
      <th><%= I18n.t('pageflow.editor.templates.text_track_tab.label') %></th>
      <th><%= I18n.t('pageflow.editor.templates.text_track_tab.srclang') %></th>
      <th><%= I18n.t('pageflow.editor.templates.text_track_tab.kind') %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
